/* slate 모드시 배경 컬러 변경 */
[data-md-color-scheme=slate] {
    --md-default-bg-color: hsla(var(--md-hue),0%,10%,1);
}

html {
    font-size: 21px;
}

.md-typeset h1 {
    font-weight: 700;
    font-size: 2.2rem;
    margin: -0.2em 0em 0.5em;
    color: var(--md-default-fg-color);
}

.md-typeset h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2em 0 0 0em;
}

.md-typeset h3 {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 0.25em;
    margin-bottom: -0.5em;
}

.md-typeset {
    letter-spacing: 0.005rem;
}

/* Li 줄간조절 */
.md-typeset ol li, .md-typeset ul li{
    margin-bottom: 0.3em;
}

[dir=ltr] .md-typeset ol, [dir=ltr] .md-typeset ul {
    margin-left: 0.25em;
}

/* 위험 admonition */
.md-typeset .admonition.danger,
.md-typeset details.danger {
  border-color: rgb(255, 0, 0);
}
.md-typeset .danger > .admonition-title,
.md-typeset .danger > summary {
  background-color: rgba(255, 0, 0, 0.15);
}
.md-typeset .danger > .admonition-title::before,
.md-typeset .danger > summary::before {
  background-color: rgb(255, 0, 0);
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}

/* 경고 admonition */
.md-typeset .admonition.warning,
.md-typeset details.warning {
border-color: rgb(255, 119, 21);
}
.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
background-color: rgba(255, 119, 21, 0.15);
}
.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
background-color: rgb(255, 119, 21);
-webkit-mask-image: var(--md-admonition-icon--warning);
        mask-image: var(--md-admonition-icon--warning);
}

/* 주의 admonition */
.md-typeset .admonition.caution,
.md-typeset details.caution {
border-color: rgb(255, 183, 0);
}
.md-typeset .caution > .admonition-title,
.md-typeset .caution > summary {
background-color: rgba(255, 179, 0, 0.1);
}
.md-typeset .caution > .admonition-title::before,
.md-typeset .caution > summary::before {
background-color: rgb(255, 183, 0);
-webkit-mask-image: var(--md-admonition-icon--warning);
        mask-image: var(--md-admonition-icon--warning);
}

/* Highlighting changes, {== */
.md-typeset mark{
    background-color: rgba(255, 225, 0, 0.2);
}

.md-typeset .critic.block>:last-child {
    margin-bottom: 1em;
}

.md-typeset .critic.block>:first-child {
    margin-top: 1em;
}

/* 사이트 타이틀 간격 */
[dir=ltr] .md-header__title {
    margin-left: 0.2rem;
}

.md-ellipsis {
    font-weight: 700;
}

.md-nav__title .md-nav__button.md-logo :-webkit-any(img,svg) {
    height: 1.4rem;
}

/* Toc & side menu font */
.md-nav {
    font-size: .7rem;
    line-height: 1.3;
}

/* Toc & side menu - active */
.md-nav__item .md-nav__link--active {
    font-weight: bold;
}

/* 테이블 font size 조정*/
.md-typeset table:not([class]) {
    font-size: .7rem;
}